<main class='nopage'>
   <h1 class='nopage__title'>{{ errorCode }}</h1>
   <h2 class='nopage__subtitle'>{{ errorMessage }}</h2>
   <button class='nopage__button' navigate="main">На главную</button>
</main>
